
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
            <div class="container">

                <h2><strong>Privacy Policy</strong></h2>
                <strong>findingyousuppliers.com</strong>
                <strong>Last Updated: 06th August 2018</strong>
                <br /><br />
                <h3><strong>Introduction</strong></h3>
                Finding You Suppliers Ltd is an incorporated business in England which provides details of UK and International Suppliers, Wholesalers an Distributers to those seeking to start there own business, or would like to introduce new products to their current business.
                We are dedicated to protecting any data we collect concerning you. By using our services you agree to the use of data that we collect in this Privacy Policy.
                <br /><br />
                <h3><strong>We Are Committed To Protecting Your Privacy</strong></h3>
                At findingyousuppliers.com we are committed to prioritise the security of your privacy. We have put in place policies and procedures to ensure your details are protected.
                <strong>We collect only the essential minimum amount of information about you which is sufficient enough with providing you with a satisfactory service from us. Your use of this membership website gives us the right to collect that information. </strong>
                <br /><br />
                <h3><strong>Collection and Use of Personal Information </strong></h3>
                We collect some or all the information that you give us depending on the type of membership service you have opted to go for. Such as your Name, Email Address, Telephone Number, Website Address, Country, Company Name, Company Address, Company Number and VAT Registration Number. You are also required to put in your Payment Details. We do not save Payment Details. All payments are gone through via Braintree or Paypal.
                <br /><br />
                <h3><strong>Disclosing Information to Third Parties.</strong></h3>
                <strong>We do not disclose any personal information we have collected about you from this website to third parties.</strong>
                <br /><br />
                <h3><strong>Information Protection</strong></h3>
                Your information that we collect in which you enter when signing up for your chosen membership package is protected and we do not under any circumstances share your information. Such as your Name, Email Address, Telephone Number, Website Address, Country, Company Name, Company Address, Company Number and VAT Registration Number. We do not save Payment Details. All payment is gone through via Braintree.
                <br />It is however important for you to protect your passwords on unauthorised computers as we do not save your passwords.
                <strong>
                    <br />We are fully compliant with General Data Protection Regulation (GDPR). This is a legal framework that sets guidelines for the collection and processing of personal information of individuals within the European Union (EU). ... GDPR came into effect across the EU on May 25, 2018.
                </strong>
                <br /><br />
                <h3><strong>DataSharing</strong></h3>
                We do not share any Entrepreneur data. However due to Trade Suppliers products and services advertising we may if need be send it to some of our third–party processors, who provide marketing analysis for us have subprocessing activities outside the UK. Therefor your data may possibly be passed out of Europe where it may be subject to less strict data protection laws. We will however endeavour to ensure that it is subject to appropriate data security at all times.
                <br /><br />
                <h3><strong>How Long Is Data Stored</strong></h3>
                As we committed to providing you with the best possible service, we like to keep a record of our clients. However if we do not hear back from you in 10 years time we sadly delete your information from all our systems. If you do not wish for your records to be stored on our system for that length of time, you may email us on support@findingyousuppliers.com, confirming to remove your details from our systems. This would be done immediately.
                <br /><br />
                <h3><strong>Is Data Used For Marketing Purposes</strong></h3>
                We do not share any Entrepreneur data. However due to Trade Suppliers products and services advertising we may if need be send it to some of our third–party processors, who provide marketing analysis for us have subprocessing activities outside the UK. Therefor your data may possibly be passed out of Europe where it may be subject to less strict data protection laws. We will however endeavour to ensure that it is subject to appropriate data security at all times.

                We wish to keep you updated with our products and services which is why we use the following marketing strategies:<br>
                <b>-	Social Media</b><br>
                Here at Finding You Suppliers Ltd, we love social media marketing. It is a great way for us to reach out to our broad audience, whilst keeping you updated with new products, services and great companies that want to showcase there products to our followers. You may see adverts pop up from us on social media that are tailored to your interests. Depending on your settings or the privacy policies social media and messaging services like Facebook, Instagram or Twitter, you might give third parties permission to access information from those accounts or services.
                <br>
                <b>-	Remarketing</b><br>
                Finding You Suppliers uses remarketing tracking cookies and conversion pixels from vendors such as Google, Facebook, Twitter, LinkedIn and Pinterest to present special offers to you for our products or services over the Google Content Network and via social networks.  This just means you may see an ad for one of our products or services as a result of visiting our website.  In addition, Finding You Suppliers uses custom audiences based on emails of subscribers and customers. This allows us to present special offers for our products to you via Facebook and Instagram.  However, your personally identifiable information is not used by any remarketing service other than to present special offers and adverts showcasing any new products and services from us. If you want to opt out of any of these, you can do so here:
                Twitter: Opt-out of Twitter remarketing here.
                Facebook: Opt-out of Facebook remarketing here.
                LinkedIn: Opt-out of LinkedIn remarketing here.
                Pinterest: Opt-out of Pinterest remarketing here.
                Google: Opt-out of Google remarketing here.
                Epsilon: Opt-out of Epsilon remarketing here.
                AWIN: Opt-out of AWIN here.
                Sub2tech: Opt-out of Sub2tech here.
                <br>
                <b>-	Messaging Services</b><br>
                By sending a start message to Finding You Suppliers (here in after referred to as – Sender) I agree with respect to Art. 6 Abs.1 lit. a GDPR that Sender has my permission to use my personal data (e.g. first and last name, phone number, messenger ID, profile image, messages) for direct communication and the required data processing, based on the respective messenger. To use this service, an existing messenger account with the respective provider is required.The possible messenger service providers are:<br>
                Whatsapp: WhatsApp, Inc., 1601 Willow Road, Menlo Park, California 94025, USA with its privacy policy described at https://www.whatsapp.com/legal/#privacy-policy<br>
                Facebook Messenger: Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA with its privacy policy described at facebook.com/about/privacy<br>
                Telegram: Telegram Messenger LLP 71-75 Shelton Street, Covent Garden, London, United Kingdom with its privacy policy described at https://telegram.org/privacy.<br>
                Insta News: Pylba Inc., 314 27th Avenue, San Mateo, CA, 94403, USA with its privacy policy described at pylba.com/privacy<br>
                I acknowledge that the respective provider might receive personal data (including communication meta data) that might be processed at servers located in countries outside of the EU (e.g. USA) that do not guarantee the same level of data protection as that practiced in the EU. Whatsapp Inc and Facebook Inc are certified under the Privacy Shield Agreement and thus guarantee compliance with European data protection regulations. Additional information is described in the above privacy policies of the respective messengers. Sender has no detailed knowledge about or influence on the respective providers.Your agreement to this data processing can be revoked at any time by sending “stop” in the respective messenger.To delete all data that is stored by our technical service provider, please send a message with „delete all data“ through your messenger.  Sender uses the technical service provider Whats-Broadcast GmbH, Herzog-Heinrich-Str. 9, 80336 Munich, Germany as data processor for this messenger service.

                <h3><strong>How To Unsubscribe From Marketing Communications</strong></h3>
                Finding You Suppliers want you to have as much control over your personal information as possible, so we want you to know that you can do this in the following ways –
                • Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used for marketing purposes.
                • If you have previously signed up to our email newsletters and want to unsubscribe at any point click on the ‘Unsubscribe’ link in any email or log into your account to change your preferences.
                We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.
                <br /><br />
                <h3><strong>Third Party Links</strong></h3>
                We may at our discretion include of offer third party products, services or promotional offers on our website. These third party sites hold there own Private Policies. For this reason we can not be held responsible or liable for the content or activity of the links. We do however value your opinion and welcome you to contact us should you have any concerns or queries regarding the links.
                <br /><br />
                <h3><strong>Changes To The Policy</strong></h3>
                Any changes to our Privacy Policy will be updated on here. We will take reasonable steps to inform you to any changes in our Privacy Policy if you are on our mailing list. We advise you to read this document on a regular basis to ensure you are up to date with our terms of Policy.
                <br /><br />
                <h3><strong>Cookies</strong></h3>
                Your Internet browser has the in-built facility for storing small files- "cookies" - that hold information which allows a website to recognise your account.  Our website takes advantage of this facility to enhance your experience.  You have the ability to prevent your computer from accepting cookies but, if you do, certain functionality on the website may be impaired.
                <br /><br />
                <h3><strong>Links To Other Websites</strong></h3>
                Our website may contain links to other websites which we think you may be interested in. However, once you have used these links to leave our site, you should note that we do not have any control over what you may see on these other websites. If you follow a link to any of these websites, please note that they have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.
                <br /><br />
                <h3><strong>Terms and Conditions</strong></h3>
                <strong>Please visit our <a href="@Url.Action("Terms", "Home")">Terms and Conditions</a> section to view the use of terms for this website.</strong>
                <br /><br />
                <h3><strong>Your Consent</strong></h3>
                <strong>By using our website, you accept the terms of our Privacy Policy</strong>
                <br /><br />
                <h3><strong>Contacting Us</strong></h3>
                <strong>Should you have any questions regarding our Privacy Policy, please email us on support@findingyousuppliers.com</strong>
                <br /><br />
                <center>
                    <h4><strong>Privacy Policy created for findingyousuppliers.com</strong></h4>
                </center>
            </div>