
@{
    ViewBag.Title = "SellOnline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <br />
    <div class="row">
        <h2 class="text-center" style="text-decoration:underline;"><strong>How To Sell Online</strong></h2>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">
                    Starting an online business is extremely exciting, however your primary focus must be to know how to run it, and more importantly figuring out what product or service you would like to sell.

                    Follow these proven successful steps to starting up your very own online business and increase sales.
                </h5>
            </div>
        </div>
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">1)	Find a compelling need in the market and fill it in</a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>
                            Boost your chances at running a successful business by finding a niche market to offer your services and sell your products in.
                            What is the current market in need of? Do you have the right the solution to offer?<br />
                            Use various forms of market research to get to find the solution to the problem consumers are facing in your chosen niche and offer a service or product which would solve the issue.<br />

                            * Use the search engine, and type in keywords related to the product or service you are wishing to offer to your consumers.
                            If you find that not many sites are coming up, with a similar product or service to yours, then there is definitely a great place for you in the market.<br />

                            * Study your competitors. Is your product or service more compelling and in demand then there’s? How would you market it differently? List various ways on how you can make your product or service stand out better than the competition
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" class="ing">2)	Study your sales strategy</a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>It’s imperative you have a proven sales strategy that takes potential consumers through the sales process from the moment they show interest to the moment they make the purchase.<br />
                    Ensure your sales copy is clear, understandable, and more importantly it has been tried and tested.<br />
                            <br />         
Here are a few pointers to include in your sales formula:<br /><br />
* Start off with a compelling headline
What catch phrase can you use to get the consumers attention? What would make them stop and listen to the rest of your sales pitch?<br />
                            <br />
*Express the main features and benefits of your product<br />
If you strongly believe the consumers requires your products or service in there life, you must explain why. How would this benefit them, and why is it different to what else is on the market?<br />
                            <br />
*The proof is in the pudding<br />
Visually show consumers written or video testimonials of real people on how your products or services have truly benefited them.<br />
                            <br />
* Make an unrefusable offer<br />
Ensure you get the consumers full attention and interest, so that you feel the deal is almost sealed. Demonstrate the product if you can, and keep engaging them.<br />
                            <br />
* Add a strong guarantee<br />
If you add a strong irresistible guarantee, the consumer shouldn’t be hesitant to go through with the sale there and then. This would make them confident in the product itself.<br />
                            <br />
* Create the sense of urgency<br />
Add an limited time frame on your amazing offer. Not many people buy on impulse, however if your fantastic product or service is tempting enough, and there is a great guarantee place, there shouldn’t be no further reason as to declining the offer.<br />
<br />
* Ask for the sale<br />
It’s pretty simple.. If you don’t ask, you don’t get. Be confident in asking for the sale in a friendly manner.  Sometimes customers can get put off if you don’t ask for the sale.<br />
</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" class="ing">3)	Design and build an effective, but simple to use website</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>Now that you have found a niche product or service to sell in your chosen field, the next step would be to hire a website designer to build an easy to use simple online site for you. So that you can showcase your products and promote your services.<br />
Remember the 8 second rule, that leading marketing experts use. If your website is not appealing enough to them, you may loose that potential customer.
                            <br /><br />
So here are some important tips to bare in mind when you are considering having your website designed
                            <br /><br />
* Go for a white background<br />
Notice that the big online stores mainly just stick to a plain white background. Past studies have shown that participants have been more accurate in reading the traditional black text on a white background.
                            <br /><br />
* Ensure your pages are clear and simple<br />
The navigation on a website page acts like a road map. If the site is clear and simple visitors would have a great experience on it. More importantly this would maximise the web user’s chance of using your site successfully. And therefor create promising lead generation for your business.
                            <br /><br />
* Enhance your key message
There are various ways of doing this, such as incorporating your key message in a video, banner or just using different means of graphics on your website. Visitors to your site must be drawn to this, so make it a stand out feature.
                            <br /><br />
* Make your website user friendly<br />
Increase traffic conversion to your site and give your customers the best experience you can offer by making your website user friendly. The more pleasant experience your customers have on your site, the better the chance of them making that purchase.
<br /><br />
* Simple checkout process<br />
An easy and quick registration process is essential for increasing conversions and sales. Keep the fields that visitors have to fill in a minimal as possible, and do not prolong the payment process.
</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="#" class="ing">4)	Promote your product and service through social media</a>
                    </h4>
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>Greatly increase your chances of brand awareness by promoting your products and services on various social media platforms. By implementing social media strategies within your business, you would instantly increase your brand recognition with a broad audience of consumers.
<br /><br />
Here are a few hints and tips on how to get started<br /><br />
* Create social media profiles for your business<br />
Interact with employees, business partners and sponsors. Get them to like and share your page on there social media page. Each time you share your post on others pages, you are being introduced to a new network of individuals, who can become your potential customers as your content is being shared.
                            <br /><br />
* Get more traffic<br />
Without advertising your business on social media, you are quite limited to your usual customers and may find it difficult to reach new clients outside of your customer circle. Expose your business to a wider variety of diverse customers all over the world. Make it easy for individuals to reach out to your business by posting and sharing your content on as many means of social media as possible.
                            <br /><br />
* Better customer experience<br />
Customers appreciate the fact that when you post content and images on your social media pages, they are able to engage with you on a personal level rather than just seeing an automated image online. Due to them being able to comment and ask questions directly to you on your posts. Each post shows that you are trying to provide the best experience to your visitors, and creates a much loyal relationship between yourself and the customer.
                            <br /><br />
* More brand loyalty<br />
Make your business more authoritative and add that credibility factor by developing a loyal customer base. Get previous clients to post images and content on social media about their successful experience they have had using your products and services. Use social media to introduce new products, promotional campaigns and more importantly to develop a bond with your clients so that you can engage with them often on a one to one bases. Regular interaction with your customers demonstrates that your business cares about customer satisfaction.
                            <br /><br />
* Cost effective way of marketing<br />
Social media marketing is undoubtably the most cost-effective form of advertising. Creating an account and signing up is free. And then it’s up to you how much you would like to invest in the paid marketing adds. It can be relatively low compared to other marketing strategies. A traditional advertising strategy is radio or television, which would cost thousands. However, an advertising campaign on social media can be done on a reasonably low budget.
</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a href="#" class="ing">5)	Use search engine optimization to drive traffic to your website</a>
                    </h4>
                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>
                            Pay-per-click advertising is a simple form of marketing you can use to get your new business noticed and ranked on the Google search engine. It allows you to test various keywords, as well as headlines, selling approaches and prices. Pay-per-click will enable you to discover your highest converting keywords, so that you can use these more often on your website pages which would help your rankings on the search engine. This would eventually result in more traffic, more leads, higher sales and conversions. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a href="#" class="ing">6)  Build an opt-in-list</a>
                    </h4>
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>
                            By creating an opt-in-list, your customers and subscribers have given you permission to send them emails. This enables you to promote your products and services to them on an ongoing basis. There are various ways in which you can get visitors on your site to fill out high converting opt-in forms such as, popups, floating header and footer bars, slide-in-scroll boxes, online forms and much more.
                            <br /><br />
                            There are also certain offline strategies you can use to get consumers online and opt-in such as
                            <br /><br />
                            * Send out a postcard to your customers, asking them to claim there complimentary gift if they join your opt-in list
                            <br /><br />
                            * Add your opt-in offer to your business cards
                            <br /><br />
                            * Mention your opt-in offer in your space ads
                            <br /><br />
                            * Print your opt-in offer on your literature
                            <br /><br />
                            It’s highly imperative you keep a close eye on your email list. Ensure you are sending your subscribers interesting information and offers on your products and services. Because once your emails start becoming irrelevant and boring to them, they would soon start hitting the unsubscribe button.
</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                        <a href="#" class="ing">7)   Start regular email marketing campaigns</a>
                    </h4>
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>
                            Notice instant higher conversion rates when using the email marketing with your customers as they have opted to receive emails from you. Therefor are interested in hearing about the new offers and promotions within your business. Email marketing creates a vast amount of opportunities for your business, and drives better return on investment. Build deeper relationships with your audience at a fraction of the cost you would normally pay for other marketing strategies.
                            <br /><br />
                            *Ensure you segment your email list.<br />
                            This is known as grouping your subscribers so that you can personalise your emails better, based on the customers interests. By dividing your emails, you give yourself the ability to send more targeted communications.There maybe certain customers that enjoy receiving all your emails, and then there maybe others that would like to just receive promotional emails, or the latest information on products and services emails. By sending your customers emails they only desire to receive, would certainly helps you get higher click-through rates.
                            <br /><br />
                            * Set an Auto responder<br />
                            Using an auto responder is a marketing tool that would automatically send out pre-written emails to your audience that have filled out an opt-in form as they wish to receive further information about your products, services and promotional offers. This is an amazing way to keep in touch with your prospects and customers plus they would receive frequent reminders on a regular basis about your services and upcoming products.
                            <br /><br />
                            * Increase brand awareness through Email Marketing<br />
                            Expose your brand to your audience by sending regular emails that your customers have opted to receive. Create targeted content that will build value to your business. Ensure you send relevant emails through your segmented lists, so you stand a much better chance of turning those leads into clients.
                            <br /><br />
                            * Email marketing is cost effective<br />
                            There is little to no cost involved in email marketing. Due to the fact it does not require excessive printing costs, advertising rates or postage costs. Not only is it inexpensive, but business owners can reach out to a large number of audience at a rate of nearly nothing per message.
</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                    <h4 class="panel-title">
                        <a href="#" class="ing">8)  Incorporate up-selling in your sales funnel</a>
                    </h4>
                </div>
                <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>
                            If you up-sell in the rightful manner, it can enhance the customers experience and therefor bring in more revenue for your business.
                            It’s highly beneficial as statistics show that the probability of selling to an existing customer is higher than selling to a new customer, as you have already build that relationship and trust with the existing customer.
                            <br /><br />
                           Once customers have completed there transaction, offer them related products that compliment their original purchase, or loyalty money off coupons.
</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

