
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<div class="container">
    <h2><strong>TERMS & CONDITIONS</strong></h2>
    <p>
        <strong>Finding You Suppliers Terms & Conditions</strong>
        <br /><strong>Last Updated: 14/02/2018</strong>
        <br /><br />Welcome to the Finding You Suppliers Terms of Use Agreement.
        <br />This Agreement indicates the terms and conditions that are utilised whilst making use of the Finding You Suppliers web site and the provided services that are available under the domain www.findingyousuppliers.com. This Agreement of Terms is entered into between you as the user of the Site and Finding You Suppliers.

        <br /><br /><strong>1	Acceptance of Terms and Conditions.</strong>
        <br /><strong>1.1</strong>
        <br />This Agreement states that, a “User” of the Site Finding You Suppliers is a registered and paying member at findingyousuppliers.com, and also can be someone who is just browsing the Site.
        <br /><strong>1.2</strong>
        <br />By using this Site, you accept to agree that www.findingyousuppliers.com can be changed, upgraded and modified at any given time.
        <br /><strong>1.3</strong>
        <br />You hereby agree and accept that Terms & Conditions maybe amended at any time on this Site.

        <br /><br /><strong>2	Membership Services</strong>
        <br /><strong>2.1</strong>
        <br />You understand that you can get free access to certain features on this Site. Also maybe authorised complimentary membership if and when discussed with a team member of Finding You Suppliers.
        <br /><strong>2.2</strong>
        <br />Once you have registered to become a member in the Entrepreneur or Trade Supplier zone, your membership payment would be automatically renewed, unless you have emailed support@findingyousuppliers.com and have advised that you do not wish to be on a rolling contract.
        <br /><strong>2.3</strong>
        <br />Finding You Suppliers Ltd hold the rights to refuse Entrepreneur or Trade Supplier membership to any User for whatever the reason maybe.

        <br /><br /><strong>3	General Users of the Site</strong>
        <br /><strong>3.1</strong>
        <br />All content on www.findingyousuppliers.com is provided by an authorised member of the Finding You Suppliers Ltd team.
        <br /><strong>3.2</strong>
        <br />You hereby agree that the sole purpose of you browsing and using www.findingyousuppliers.com is finding Trade Suppliers or promoting your products and services on here to attract Entrepreneurs. Your intentions are not to copy, recreate or duplicate any listings, images, data, information and text. Exploiting text, information, listings, images and videos from www.findingyousuppliers.com will result in us taking legal action against you.
        <br /><strong>3.3</strong>
        <br />Queries, messages, information and orders made to the Trade Supplier’s has no connection with Finding You Suppliers Ltd. This is strictly under the discretion between the Entrepreneur and the Trade Supplier.
        <br /><strong>3.4</strong>
        <br />By using this Site, you accept to agree that www.findingyousuppliers.com can be changed, upgraded and modified at any given time. Finding You Suppliers Ltd reserves the right to introduce new features for Users or change existing features without any form of notice.
        <br /><strong>3.5</strong>
        <br />Users accept that Finding You Suppliers Ltd will not be held responsible if www.findingyousuppliers.com Site slows down at any point, files are disrupt, changes of any features or termination of Site, errors or limited access arising from the Site.
        <br /><strong>3.6</strong>
        <br />Finding You Suppliers Ltd gives permission to third party businesses to advertise on www.findingyousuppliers.com if this has been authorised by written permission from a member of Finding You Suppliers Ltd admin.
        <br /><strong>3.7</strong>
        <br />Under any circumstances no User shall attempt to gain unauthorised admin access to the networks or systems of www.findingyousuppliers.com.

        <br /><br /><strong>4	Registered Users</strong>
        <br /><strong>4.1</strong>
        <br />To become a Registered User, you must fill out either one of the Entrepreneur packages, or the Trade Supplier packages online.
        <br /><strong>4.2</strong>
        <br />Should any Registered Users breech this agreement, your account will be terminated.
        <br /><strong>4.3</strong>
        <br />www.findingyousuppliers.com has the right to refuse a registered member for whatever reason and deactivate the account.
        <br /><strong>4.4</strong>
        <br />Finding You Suppliers may send Registered Users emails from time to time. Please Unsubscribe if you wish to no longer receive our emails.
        <br /><strong>4.5</strong>
        <br />From the day you sign up to the Entrepreneur Memberships Packages or any of the Trade Supplier Membership Packages or International Trade Supplier Membership Packages, you have 7 days to cancel your membership and receive a full a refund by emailing us on support@findingyousuppliers.com. After the 7 day period is over, your payment will be none refundable.
        <br /><strong>4.6</strong>
        <br />As a Trade Supplier or International Trade Supplier, If you sign up for a Promotional Free 1 Month Trial, Free 2 Month Trial or Free 3 Month Trail you will automatically be charged for the Silver Membership Package after the free trial ends, unless you have emailed us prior to your free membership trial ending to cancel your membership on support@findingyousuppliers.com.
        
        <br /><br /><center><strong>Finding You Suppliers are fully compliant with General Data Protection Regulation (GDPR). This is a legal framework that sets guidelines for the collection and processing of personal information of individuals within the European Union (EU).... GDPR came into effect across the EU on May 25, 2018.</strong></center>
        <br /><br /><strong>End of Agreement</strong>
    </p>
</div>